.team {
  @include make-spacer(pt, 6);
  @include make-spacer(pb, 12);

  width: 100%;

  &__grid {
    display: grid;
    grid-template-columns: rem(400px) rem(368px);
    grid-column-gap: rem(50px);
  }

  &__content {
    @include make-spacer(mt, 5);
  }

  &__p {
    @include make-spacer(mb, 3);
    @include font-size(14px, 21px);

    color: var(--grey);
  }
}
