section.section.hero
  .hero__content
    img(src="./img/hero-bg.png", alt="ETERNAL STATIONERY", class="hero__bg")
    p.hero__text.hero__text--eternal ETERNAL
    p.hero__text.hero__text--stationery STATIONERY

  .container
    .hero__footer
      button.hero__play-btn(type="button")
        | Video
        img(src="./img/play-btn.svg", alt="", class="hero__play-icon")

      a.link.link--uppercase(href="#") Press Kit
