section.section.section--underlined.section--no-bg.inside
  .section__sidebar
    .section__stuff
      img(src="./img/wi-img.jpg", alt="Nika book", class="section__preview")

  .section__content
    .section__top
      h2.title
        span.title__text.title__text--border WHAT
        span.title__text.title__text--fill INSIDE

    .section__bottom
      .carousel.carousel--inside#carousel
        .carousel__item
          .carousel__content
            .description.description--no-margin
              h3.description__title Planner
              p.description__text Plan your month, erase and plan again. Unlimited times.
          img(src="./img/planner.png" class="inside__img")
        .carousel__item
          .carousel__content
            .description.description--no-margin
              h3.description__title Planner
              p.description__text Plan your month, erase and plan again. Unlimited times.
          img(src="./img/planner.png" class="inside__img")
        .carousel__item
          .carousel__content
            .description.description--no-margin
              h3.description__title Planner
              p.description__text Plan your month, erase and plan again. Unlimited times.
          img(src="./img/planner.png" class="inside__img")
