section.section.team
  .container
    .team__grid
      .team__list
        each teammate in teammates
          .teammate
            figure.teammate__avatar
              img(src=teammate.avatar, alt="", class="teammate__img")
            h3.teammate__name= teammate.name

      .team__content
        h2.title
          span.title__text.title__text--border OUR
          span.title__text.title__text--fill TEAM

        p.team__p Hello! We are creators of nuka. All of us have used stationery for years, so we know all benefits and problems related to it.
        p.team__p We saw advantages of digital notes but realized: nothing can replace the tactile experience of real materials. So, we decided to add modern technologies to stationery, and created radically new things – eternal notebook and pencil.
        p.team__p Fired by this idea, we left school and started focusing only on nuka. Together with our partners, we have worked for 2 years to tailor business strategy, finalize technologies, work on prototypes and run production in China. Hope you are ready to change habitual things together with us.
        p.team__p Let’s start!
