@font-face {
  font-family: 'Din';
  src:
    url('../../fonts/DINAlternate-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/DINAlternate-Bold.woff') format('woff'),
    url('../../fonts/DINAlternate-Bold.ttf') format('truetype'),
    url('../../fonts/DINAlternate-Bold.svg#DINAlternate-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Druk';
  src:
    url('../../fonts/DrukTextCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/DrukTextCyr-Medium.otf') format('opentype'),
    url('../../fonts/DrukTextCyr-Medium.woff') format('woff'),
    url('../../fonts/DrukTextCyr-Medium.ttf') format('truetype'),
    url('../../fonts/DrukTextCyr-Medium.svg#DrukTextCyr-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

