.icon-arrow-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checked {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-envelope {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-linkedin {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-location {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-next {
  width: 1.6em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-previous {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-slider-arrow {
  width: 0.5em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1.41em;
  height: 1em;
  fill: initial;
}
