footer.footer
  .container
    .footer__grid
      img(src="./img/logo.svg", alt="Nuka", class="logo")

      each column in footer
        .footer__column
          h3.footer__title= column.title

          ul.footer__list
            each link in column.links
              li.footer__item
                a.footer__link.link(href=link.href)= link.text

    .footer__copy
      p.footer__text ©2019 - NUKA
      p.footer__text by Natalia Shulzhenko

  img(src="./img/pattern.svg", class="pattern")
