-
  var appData = [
    {
      title: 'Synchronize',
      text: `Synchronize To-Do list<br> with your smartphone`
    },
    {
      title: 'Unlimited',
      text: `Unlimited number of digital<br> notebooks`
    },
    {
      title: 'Scan',
      text: `Scan your notes and<br> digitalized them`
    },
    {
      title: 'Protected',
      text: 'Keep your infomation<br> protected'
    },
  ]
