-
  var articleContent = [
  {
  text: `Открывая компьютерный клуб, всех почему-то тянет в центр города. Однако, помимо высоких тарифов на аренду там не так уж много вашей целевой аудитории. Куда выгоднее размещаться рядом с местами, где водятся ваши потенциальные клиенты – школами, студенческими общежитиями, в спальных районах или крупных торговых центрах, куда «папы выходного дня» любят приводить своих отпрысков. Удачное место – половина успеха. Обеспечьте своему заведению тематическое оформление чтобы его было видно издалека, и это поможет увеличить поток ваших клиентов в несколько раз.`,
  title: '5. Место'
  },
  {
  text: `Открывая компьютерный клуб, всех почему-то тянет в центр города. Однако, помимо высоких тарифов на аренду там не так уж много вашей целевой аудитории. Куда выгоднее размещаться рядом с местами, где водятся ваши потенциальные клиенты – школами, студенческими общежитиями, в спальных районах или крупных торговых центрах, куда «папы выходного дня» любят приводить своих отпрысков. Удачное место – половина успеха. Обеспечьте своему заведению тематическое оформление чтобы его было видно издалека, и это поможет увеличить поток ваших клиентов в несколько раз.`,
  title: '4. Продвижение'
  },
  {
  text: `Открывая компьютерный клуб, всех почему-то тянет в центр города. Однако, помимо высоких тарифов на аренду там не так уж много вашей целевой аудитории. Куда выгоднее размещаться рядом с местами, где водятся ваши потенциальные клиенты – школами, студенческими общежитиями, в спальных районах или крупных торговых центрах, куда «папы выходного дня» любят приводить своих отпрысков. Удачное место – половина успеха. Обеспечьте своему заведению тематическое оформление чтобы его было видно издалека, и это поможет увеличить поток ваших клиентов в несколько раз.`,
  title: '3. Бар и удобства'
  }
  ]
