-
  var blog = [
  {
  teaserUrl: '/img/blog/wallhaven-678954.jpg',
  teaserTitle: 'Геймдиректор Cyberpunk 2077 о Цири',
  text: `Благодаря польской компании CD Projekt RED мы смогли познакомиться с таким шедевром, как Witcher 3: Wild Hunt. Эта игра поразила нас своим...`,
  btnText: 'Читать',
  tag: 'СТАТЬИ',
  date: '25.08.19'
  },
  {
  teaserUrl: '/img/blog/blog-1.jpg',
  teaserTitle: 'Геймдиректор Cyberpunk 2077 о Цири',
  text: `Благодаря польской компании CD Projekt RED мы смогли познакомиться с таким шедевром, как Witcher 3: Wild Hunt. Эта игра поразила нас своим...`,
  btnText: 'Читать',
  tag: 'СТАТЬИ',
  date: '25.08.19'
  },
  {
  teaserUrl: '/img/blog/wallhaven-678954.jpg',
  teaserTitle: 'Геймдиректор Cyberpunk 2077 о Цири',
  text: `Благодаря польской компании CD Projekt RED мы смогли познакомиться с таким шедевром, как Witcher 3: Wild Hunt. Эта игра поразила нас своим...`,
  btnText: 'Читать',
  tag: 'СТАТЬИ',
  date: '25.08.19'
  },
  {
  teaserUrl: '/img/blog/blog-1.jpg',
  teaserTitle: 'Геймдиректор Cyberpunk 2077 о Цири',
  text: `Благодаря польской компании CD Projekt RED мы смогли познакомиться с таким шедевром, как Witcher 3: Wild Hunt. Эта игра поразила нас своим...`,
  btnText: 'Читать',
  tag: 'СТАТЬИ',
  date: '25.08.19'
  },
  {
  teaserUrl: '/img/blog/blog-1.jpg',
  teaserTitle: 'Геймдиректор Cyberpunk 2077 о Цири',
  text: `Благодаря польской компании CD Projekt RED мы смогли познакомиться с таким шедевром, как Witcher 3: Wild Hunt. Эта игра поразила нас своим...`,
  btnText: 'Читать',
  tag: 'СТАТЬИ',
  date: '25.08.19'
  }
  ]
