-
  var bookData = [
    {
      title: 'Rewritable',
      text: 'The notebook will never be overloaded with unnecessary information'
    },
    {
      title: 'Magnetic',
      text: 'The Pencil can be attached to the Notebook thanks to a special built-in mechanism'
    },
    {
      title: 'Synchronized',
      text: 'Your records can be digitalized and synchronized with smart devices'
    },
    {
      title: 'Strong',
      text: 'No torn pages or broken leads.'
    },
  ]
