-
  var contactsList = [
  {
  imgUrl: 'img/sales.svg',
  title: 'Отдел продаж',
  text: 'Мы с радостью обсудим, как мы можем помочь вашему компьютерному клубу',
  button: 'СВЯЗАТЬСЯ С ОТДЕЛОМ ПРОДАЖ'
  },
  {
  imgUrl: 'img/support.svg',
  title: 'Тех. поддержка',
  text: 'Мы здесь, чтобы 24/7 помогать вам легко и удобно работать с SENET',
  button: 'НАПИСАТЬ В ТЕХ. ПОДДЕРЖКУ'
  },
  {
  imgUrl: 'img/partnership.svg',
  title: 'Сотрудничество',
  text: 'Мы готовы выслушать все ваши интересные предложения',
  button: 'СТАТЬ ПАРТНЕРОМ'
  }
  ]
