-
  var footer = [
    {
      title: 'Social Media',
      links: [
        {
          href: '#',
          text: 'INSTEGRAM'
        },
        {
          href: '#',
          text: 'FACEBOOK'
        },
        {
          href: '#',
          text: 'TWITTER'
        }
      ]
    },
    {
      title: 'PARTNERSHIP',
      links: [
        {
          href: '#',
          text: 'Concepter'
        },
        {
          href: '#',
          text: 'Biosphere Startup Platform'
        },
        {
          href: '#',
          text: 'SILA'
        }
      ]
    },
    {
      title: 'Donate',
      links: [
        {
          href: 'https://www.kickstarter.com/projects/nuka/eternal-stationery',
          text: 'KICKSTARTER'
        },
        {
          href: 'https://www.indiegogo.com/projects/nuka-eternal-stationery#/',
          text: 'INDIEGOGO'
        }
      ]
    }
  ]
