-
  var formFields = [
    {
      label: 'Привет! Меня зовут',
      inputId: 'name',
      inputType: 'text',
      inputName: 'name',
      placeholder: 'Полное имя',
      message: 'Это поле обязательное к заполнению',
      isTextarea: false,
      inputGroupId: ''
    },
    {
      label: 'Я из',
      inputId: 'organization',
      inputType: 'text',
      inputName: 'organization',
      placeholder: 'Название клуба/организации',
      message: 'Это поле обязательное к заполнению',
      isTextarea: false,
      inputGroupId: ''
    },
    {
      label: 'Мой номер',
      inputId: 'tel',
      inputType: 'tel',
      inputName: 'tel',
      placeholder: '',
      message: '',
      isTextarea: false,
      inputGroupId: 'tel-input-field'
    },
    {
      label: 'E-mail',
      inputId: 'email',
      inputType: 'email',
      inputName: 'email',
      placeholder: 'name@domain.com',
      message: 'Это поле обязательное к заполнению',
      isTextarea: false,
      inputGroupId: ''
    },
    {
      label: 'Хочу предложить',
      inputId: 'textarea',
      inputType: '',
      inputName: 'textarea',
      placeholder: 'Комментарий',
      message: 'Это поле обязательное к заполнению',
      isTextarea: true,
      inputGroupId: ''
    },
  ]
