-
  var navCta = [
    {
      text: 'INDIEGOGO',
      href: 'https://www.indiegogo.com/projects/nuka-eternal-stationery#/'
    },
    {
      text: 'KICKSTARTER',
      href: 'https://www.kickstarter.com/projects/nuka/eternal-stationery'
    },
    {
      text: 'E-MAIL',
      href: 'mailto:nuka@gmail.com'
    },
  ]
