-
  var partners = [
    {
      url: 'https://weplay.tv',
      logoUrl: '/img/partners/weplay.svg',
      logoUrlBlack: '/img/partners/weplay-black.svg'
    },
    {
      url: 'https://weplaymerchandise.com',
      logoUrl: '/img/partners/weplaymerchandise.svg',
      logoUrlBlack: '/img/partners/weplaymerchandise-black.svg'
    },
    {
      url: 'https://jmind.systems',
      logoUrl: '/img/partners/jmind-color.svg',
      logoUrlBlack: '/img/partners/jmind-black.svg'
    },
    {
      url: 'https://weplay.tv',
      logoUrl: '/img/partners/weplay.svg',
      logoUrlBlack: '/img/partners/weplay-black.svg'
    },
  ]
