-
  var pencilData = [
    {
      title: 'Clean',
      text: `No ink leaks, so no dirty<br> hands`
    },
    {
      title: 'Extreme',
      text: `Highly durable for any<br> environment`
    },
    {
      title: 'Infinite',
      text: `No lead refill or sharpening<br> needed`
    },
    {
      title: 'Strong',
      text: 'No broken leads'
    },
  ]
