-
  var pricesLow = [
    {
      label: '',
      months: '1 МЕСЯЦ',
      image: '../img/badge-1.svg',
      rate: '$90',
      summary: '',
      list: [
        'Интерактивная карта клуба;',
        'Совместимость с игровыми консолями;',
        'Облачное решение.',
      ],
      button: 'НАЧАТЬ БЕСПЛАТНО',
      isActive: false
    },
    {
      label: '-11%',
      months: '6 МЕСЯЦЕВ',
      image: '../img/badge-2.svg',
      rate: '$80',
      summary: 'Общая сумма: $600',
      list: [
        'Интерактивная карта клуба;',
        'Детальная статистика;',
        'Встроенная программа лояльности;',
        'Поддержка клубных лицензий на игры.',
      ],
      button: 'НАЧАТЬ БЕСПЛАТНО',
      isActive: true
    },
    {
      label: '-17%',
      months: '12 МЕСЯЦЕВ',
      image: '../img/badge-3.svg',
      rate: '$75',
      summary: 'Общая сумма: $870',
      list: [
        'Интерактивная карта клуба;',
        'Бесплатное подключение консолей;',
        'Участие в турнирах WePlay;',
        'Поддержка 24/7;',
        'Бесплатные патчи и обновления.',
      ],
      button: 'НАЧАТЬ БЕСПЛАТНО',
      isActive: false
    }
  ]

  var pricesUpper = [
    {
      label: '',
      months: 'ИНДИВИДУАЛЬНАЯ ПОДПИСКА',
      image: '../img/badge-4.svg',
      rate: '',
      summary: '',
      list: [
      'Интерактивная карта клуба;',
      'Совместимость с игровыми консолями;',
      'Облачное решение.',
      'Интерактивная карта клуба;',
      'Совместимость с игровыми консолями;',
      ],
      button: 'ПРОСЧИТАТЬ СТОИМОСТЬ',
      isActive: false
    },
  ]
