-
  var sidebarMenu = [
  {
  id: 'one',
  anchor: 'Определения'
  },
  {
  id: 'two',
  anchor: 'Общие условия'
  },
  {
  id: 'three',
  anchor: 'Регистрация'
  },
  {
  id: 'four',
  anchor: 'Платежи'
  },
  {
  id: 'five',
  anchor: 'Возврат платежей'
  },
  {
  id: 'six',
  anchor: 'Конфиденциальность'
  },
  {
  id: 'seven',
  anchor: 'Защита Персональных данных'
  },
  {
  id: 'eight',
  anchor: 'Файлы cookie и аналитика'
  },
  {
  id: 'nine',
  anchor: 'Права интеллектуальной собственности'
  },
  {
  id: 'ten',
  anchor: 'Заключительные условия'
  }
  ]
