-
  var tabsOwners = [
    {
      tab: 'Контроль финансов',
      content: `<h3>Контроль финансов</h3><p>Встроенная система контроля финансовых транзакций в режиме реального времени регистрирует доходы и расходы вашего компьютерного клуба. Программа SENET совместима с кассовыми аппаратами, и в автоматическом режиме фиксирует любые перемещения денег.</p><p>Помимо этого, система поддерживает обслуживание счетов магазина в интернет-кафе и помогает отслеживать количество товара на складе. Наконец, посредством системы финансового контроля SENET вы можете создавать любые отчеты, фиксируя движение денежных сумм в вашем заведении.</p>`
    },
    {
      tab: 'Подробная статистика',
      content: `<h3>Подробная статистика</h3><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue.</p>`
    },
    {
      tab: 'Права доступа',
      content: `<h3>Права доступа</h3><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue.</p>`
    },
    {
      tab: 'Поддержка 24/7',
      content: `<h3>Поддержка 24/7</h3><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue.</p>`
    },
    {
      tab: 'Облачное решение',
      content: `<h3>Облачное решение</h3><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue.</p>`
    }
  ]

  var tabsStaff = [
    {
      tab: 'Интерактивная карта',
      content: `<h3>Контроль финансов</h3><p>Система SENET одинаково совместима как с РС, так
      и с любыми современными игровыми консолями, включая поддержку устройств виртуальной реальности. Посредством специального контроллера, администрация клуба может синхронизировать с системой любое количество консолей
      и управлять ими так же, как и компьютерами. Каждую консоль можно промаркировать QR-кодом – это позволит клиентам самостоятельно оплачивать и продлевать время игры.</p>`
    },
    {
      tab: 'Консольное решение',
      content: `<h3>Подробная статистика</h3><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue.</p>`
    },
    {
      tab: 'Поддержка платформ',
      content: `<h3>Права доступа</h3><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue.</p>`
    },
    {
      tab: 'Дружелюбный интерфейс',
      content: `<h3>Поддержка 24/7</h3><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue.</p>`
    }
  ]

  var tabsPlayers = [
    {
      tab: 'Программа лояльности',
      content: `<h3>Турниры WePlay Esport</h3><p>Привлекайте в свои клубы еще больше гостей, предоставляя доступ к эксклюзивным турнирам WePlay. Каждый клуб, в котором используется система SENET, получает возможность принимать участие в самых популярных киберспортивных турнирах, проводимых e-sportainment компанией WePlay и привлекающим внимание тысяч новых игроков и команд. Заручаясь вниманием профессионалов и энтузиастов мира киберспорта, клуб неизбежно повышает свои доходы.</p>`
    },
    {
      tab: 'Турниры WePlay Esport',
      content: `<h3>Подробная статистика</h3><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue.</p>`
    },
    {
      tab: 'Бронирование ПК',
      content: `<h3>Права доступа</h3><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue.</p>`
    },
    {
      tab: 'Обратная связь',
      content: `<h3>Поддержка 24/7</h3><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue.</p>`
    }
  ]
