-
  var teammates = [
    {
      name: 'Nikita vladykin',
      avatar: './img/nik.png'
    },
    {
      name: 'EUGENE  SHYLO',
      avatar: './img/eug.png'
    },
    {
      name: 'kate mykhalko',
      avatar: './img/kate.png'
    },
  ]
