-
  var teammates = [
    {
      name: 'Nikita vladykin',
      avatar: './img/nik.jpg'
    },
    {
      name: 'EUGENE  SHYLO',
      avatar: './img/eug.jpg'
    },
    {
      name: 'kate mykhalko',
      avatar: './img/kate.jpg'
    },
  ]
