-
  var textBlock = [
  {
  qestion: 'Могу ли я получить бесплатную пробную версию или демо?',
  ansver: 'Да, можете. Чтобы получить бесплатную пробную неделю, перейдите по ссылке: ' +
  'https://enestech.net и следуйте инструкциям. Это позволит вам связаться с нашей службой поддержки и ' +
  'получить полное руководство о том, как установить SENET на свой ПК и как использовать все его функции.'
  },
  {
  qestion: 'Как настроить SENET?',
  ansver: 'По всем техническим вопросам обращайтесь в отдел технической поддержки. Это доступно 24/7: Help Center'
  },
  {
  qestion: 'Нужно-ли дополнительно настраивать встроенный облачный сервис?',
  ansver: 'Нет. Облачная служба SENET основана на Digital Ocean и начнет работать автоматически, ' +
  'как только вы впервые запустите программу.'
  },
  {
  qestion: 'Могу ли я увеличить / уменьшить количество компьютеров во время активной подписки?',
  ansver: 'Да, можете. Стоимость дополнительных мест будет рассчитываться на основе оставшейся части вашей подписки.'
  },
  {
  qestion: 'Могу ли я увеличить / уменьшить количество компьютеров во время активной подписки?',
  ansver: 'Да, можете. Стоимость дополнительных мест будет рассчитываться на основе оставшейся части вашей подписки.'
  },
  {
  qestion: 'Могу ли я увеличить / уменьшить количество компьютеров во время активной подписки?',
  ansver: 'Да, можете. Стоимость дополнительных мест будет рассчитываться на основе оставшейся части вашей подписки.'
  }
  ]
