include ./_social-list
include ./_navigation
include ./_tabs
include ./_form
include ./_prices
include ./_footer-menu
include ./_contacts-list
include ./_partners
include ./_contact-phones
include ./_text-block
include ./_sidebar-menu
include ./_usage-policy
include ./_pagination
include ./_blog-tags
include ./_blog
include ./_article-content
include ./_cookies-policy
